<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/assets/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600&display=swap" rel="stylesheet">

  <title>Estadisticas-Fixture Mundial Qatar 2022</title>
</head>

<body >
  <header class="titulares header">
    <div class="logo"> <img src="../static/assets/images/FIFA World Cup Qatar 2022.svg" alt="" width="100px" height="100px"></div>
    <div><h1 class="fixture-titulo">Estadisticas</h1></div>
    <nav class="menu">
        <ul>

            <li class="nav-bar" ><a href="inicio.html">Inicio</a></li>
            <li class="nav-bar"><a href="Noticias.html">Noticias</a></li>
            <li class="nav-bar"><a href="fixture.html">Fixture</a></li>
            

            <li class="nav-bar"><a href="/logout">Logout</a></li>
            
        </ul>

    </nav>
</header>

  <main class="container-tabla">

  <table action="/tabla" class="TABLE-GRUP-A">

    <tr>
      <th>Grupo A</th>
      <th>Puntaje</th>
      <th>GolesFavor</th>
      <th>GolesContra</th>
      <th>Goles de diferencia</th>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      

    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>




  <table class="TABLE-GRUP-B">

    <tr>
      <th>Grupo B</th>
      <th>Puntaje</th>
      <th>GolesFavor</th>
      <th>GolesContra</th>
      <th>Goles de diferencia</th>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      

    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>




  <table class="TABLE-GRUP-C">
    <tr>
      <th>Grupo C</th>
      <th>Puntaje</th>
      <th>GolesFavor</th>
      <th>GolesContra</th>
      <th>Goles de diferencia</th>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      

    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>



  <table class="TABLE-GRUP-D">

    <tr>
      <th>Grupo D</th>
      <th>Puntaje</th>
      <th>GolesFavor</th>
      <th>GolesContra</th>
      <th>Goles de diferencia</th>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      

    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      
      
      <td>Independiente</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</main>


<footer class="titulares">
  <div>
      <img src="../static/assets/images/phone (1).png" alt="" width="40px" height="40px">
      <p> Contacto:</p>
          <span>0800-555-334</span>
  </div>

  <div>
      <img src="../static/assets/images/gmail.png" alt="" width="40px" height="40px">
      <p>  Gmail:</p>
      <span>infoFixture@gmail.com</span>
  </div>

  <div>
      <span><img src="../static/assets/images/copyright (1).png" alt="" width="40px" height="40px">All Rights Reserved</span>
  </div>
</footer>
</body>

</html>