<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIXTURE</title>
    <link rel="stylesheet"  href="assets/CSS/styles.css">
  
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="assets/IMG/FIFA World Cup Qatar 2022.svg" alt="Logo">
            <h2 class="Titulo">FIFA WORLD CUP QATAR 2022 FIXTURE</h2>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/fixture">Mi Fixture</a></li>
                <li><a href="/posiciones">Posiciones</a></li>
                <li><a href="/noticias">Noticias</a></li>
            </ul>
            <ul class="Registrar">
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="button-container">
            <img class="Img-principal" src="assets/IMG/Imagen-del-Boton.jpeg" alt="principal"/>
            <p th:if="${titulo != null}" th:text="${titulo}" style="color:black"></p>
            <p th:if="${descripcion != null}" th:text="${descripcion}" style="color:black" ></p>
            <a href="/login" alt="Mi Fixture">Completa tu Fixture!!!</a>
        </div>
        <!-- start feedwind code --> 
       <!-- <script class="Img-Noticias"type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="150798/"></script>  end feedwind code -->
        <div class="button-container">
            <img class="Img-principal" src="/login" alt="Posiciones"/>
            <a href="#">Posiciones</a>
        </div>
    </main>
    <footer>
        <img class="#" src="" alt="Derechos Reservados">
        <h2 class="Derecha">Contacto 0800-555-344</h2>
    </footer>
</body>
</html>
